{% extends "base.html" %}
{% load static %}
{% block title %}
    Tournaments
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2>{{ object.name }}</h2>
            <div class="col-md">
                <p class="lead">Tournament links</p>
                {% if user.is_authenticated %}<h5>Public</h5>{% endif %}
                <ul class="list-group">
                    <a href="{{ tournament.get_absolute_url }}participants/"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        View participants<span class="badge text-bg-secondary">40</span>
                    </a>
                </ul>
                <br />
                {% if user.is_authenticated %}
                    <h5>Administrative</h5>
                    <ul class="list-group">
                        <a href="{{ tournament.get_absolute_url }}adjudicators/"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Edit adjudicators
                        </a>
                        <a href="{{ tournament.get_absolute_url }}update/"
                           class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            Edit configuration<span class="badge text-bg-secondary">14</span>
                        </a>
                    </ul>
                {% endif %}
            </div>
            <div class="col-md">
                <div class="row">
                    <p class="lead">Tournament information</p>
                    <p>Adjudication core: Joe Bloggs, Jane Bloggs.</p>
                    <p>Equity: John Smith.</p>
                    <p>Tabulation: Cool McGuy.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
